<% if (DATA.length===0) { %>
    <tr>
        <td class="is-narrow"></td>
        <td class="is-narrow"></td>
        <td class="is-narrow"></td>
        <td>(nada por el momento)</td>
    </tr>
<% } %>
<% DATA.forEach(function(reg){ %>
    <tr>
        <td class="p-1 is-narrow <%= reg.classcolor %>"> </td>                                                      <!-- estado -->
        <td class="p-1 is-narrow has-text-centered has-text-weight-bold"><%= reg.desde %> - <%= reg.hasta %></td>   <!-- horario -->

    <% if (show_pabellon) { %>
        <td class="p-1 is-narrow has-text-centered has-text-weight-bold">                                           <!-- pabellon -->
        <%= reg.pabellon %>
        </td>
    <% } %>

        <td class="py-1 is-narrow has-text-centered has-text-weight-bold">                                          <!-- aula -->
            <% if (reg.is_composite) { %>
                Ver<br/>&rarr;
            <% } else { %>
                <%= reg.aula %>
            <% } %>
        </td>

        <td class="p-1 is-fullwidth">                                                                <!-- materia -->

            <div class="columns">
              <div class="column">
                        <% reg.materia.forEach(function(namep) { %>
                                <%= namep %><br/>
                        <% }) %>
              </div>

            <% if (reg.is_composite) { %>
              <div class="column is-two-fifths">
                        <div class="tags">
                                <% reg.extra.forEach(function(aula_sub) { %>
                                <span class="tag is-info is-large has-text-weight-bold">
                                    <%= aula_sub[0] %>
            <% if (aula_sub[1].trim()!="") { %>: <%= aula_sub[1] %> <% } %>
                                </span>
                                <% }) %>
                        </div>
              </div>
            <% } %>

            </div>

        </td>
    </tr>
<% }) %>
