<% if (DATA.length===0) { %>
    <tr>
        <td class="is-narrow"></td>
        <td class="is-narrow"></td>
        <td class="is-narrow"></td>
        <td>(nada por el momento)</td>
    </tr>
<% } %>
<% DATA.forEach(function(reg,idxx){ %>
    <tr id="<%= 'r-'+(idxx.toString()) %>">
        <td class="p-1 is-narrow has-text-centered has-text-weight-bold"><%= reg.desde %> - <%= reg.hasta %></td>   <!-- horario -->

    <% if (show_pabellon) { %>
        <td class="p-1 is-narrow has-text-centered has-text-weight-bold">                                           <!-- pabellon -->
        <%= reg.pabellon %>
        </td>
    <% } %>

        <td class="py-1 is-narrow has-text-centered has-text-weight-bold">                                          <!-- aula -->
            <% if (reg.is_composite) { %>
                Ver<br/>&rarr;
            <% } else { %>
                <%= reg.aula %>
            <% } %>
        </td>

        <td class="p-1 is-narrow <%= reg.classcolor %>"> </td>                                                      <!-- estado -->

        <td class="p-1 is-fullwidth mx-2">                                                                               <!-- materia -->
            <div class="block is-float-left m-1">
                <% reg.materia.forEach(function(namep, idx) { %>
                    <% if (idx!=0) {%> <br/> <% } %>
                    <%= namep %>
                <% }) %>
            </div>
            <% if (reg.is_composite) { %>
                <% reg.extra.forEach(function(aula_sub) { %>
                <span class="tag is-info is-size-3 has-text-weight-bold px-2 mb-1">
                    <%= aula_sub[0] %><% if (aula_sub[1].trim()!=="") { %>: <%= aula_sub[1] %> <% } %>
                </span>
                <% }) %>
            <% } %>
        </td>

    </tr>
<% }) %>
